---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/54b53155b0a7a7c551ffe239/lists?filter=open&key=ca558b78821d8fffa570287dceb50432&token=2b36c46cc6a9d86f75533a66e4f335e3614b22219d1e5f9628ff9f169bdce593
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.277.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1421166236523'
      Content-Type:
      - application/json
      X-Iinfo:
      - 7-19247476-19232730 PNNY RT(1421166236232 15) q(0 0 0 -1) r(3 3) U10000
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"id":"54b543ce3eb79e58557a0ae2","name":"To Do","closed":false,"idBoard":"54b53155b0a7a7c551ffe239","pos":65535,"subscribed":false},{"id":"54b544c3e8e16ba2c139e002","name":"Doing","closed":false,"idBoard":"54b53155b0a7a7c551ffe239","pos":98303,"subscribed":false},{"id":"54b544d85cc7355cc14df2ca","name":"In
        review","closed":false,"idBoard":"54b53155b0a7a7c551ffe239","pos":114687,"subscribed":false},{"id":"54b543e7d76e253c526ed362","name":"Done
        (2015#3)","closed":false,"idBoard":"54b53155b0a7a7c551ffe239","pos":131071,"subscribed":false},{"id":"54b5457dea95adc3514c3e31","name":"Done
        (2015#2)","closed":false,"idBoard":"54b53155b0a7a7c551ffe239","pos":196607,"subscribed":false}]'
  recorded_at: Tue, 13 Jan 2015 16:23:56 GMT
- request:
    method: get
    uri: https://api.trello.com/1/lists/54b543ce3eb79e58557a0ae2/cards?filter=open&key=ca558b78821d8fffa570287dceb50432&token=2b36c46cc6a9d86f75533a66e4f335e3614b22219d1e5f9628ff9f169bdce593
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.277.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1421166236768'
      Content-Type:
      - application/json
      X-Iinfo:
      - 7-19247612-19232730 PNNY RT(1421166236667 15) q(0 0 0 -1) r(2 2) U10000
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"id":"54b543fbead4d7085213fa0d","checkItemStates":[],"closed":false,"dateLastActivity":"2015-01-13T16:21:40.018Z","desc":"","descData":null,"email":null,"idBoard":"54b53155b0a7a7c551ffe239","idList":"54b543ce3eb79e58557a0ae2","idMembersVoted":[],"idShort":2,"idAttachmentCover":null,"manualCoverAttachment":false,"idLabels":[],"name":"(8)
        not done","pos":65535,"shortLink":"lFcvdoBd","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"due":null,"idChecklists":[],"idMembers":[],"labels":[],"shortUrl":"https://trello.com/c/lFcvdoBd","subscribed":false,"url":"https://trello.com/c/lFcvdoBd/2-8-not-done"}]'
  recorded_at: Tue, 13 Jan 2015 16:23:56 GMT
[...]
- request:
    method: get
    uri: https://api.trello.com/1/lists/54b543e7d76e253c526ed362/cards?filter=open&key=ca558b78821d8fffa570287dceb50432&token=2b36c46cc6a9d86f75533a66e4f335e3614b22219d1e5f9628ff9f169bdce593
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.277.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1421166237759'
      Content-Type:
      - application/json
      X-Iinfo:
      - 8-24292903-24285902 PNNY RT(1421166237578 27) q(0 0 0 -1) r(2 2) U10000
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"id":"54b543f080a789fc07fa25e3","checkItemStates":[],"closed":false,"dateLastActivity":"2015-01-13T16:21:47.882Z","desc":"","descData":null,"email":null,"idBoard":"54b53155b0a7a7c551ffe239","idList":"54b543e7d76e253c526ed362","idMembersVoted":[],"idShort":1,"idAttachmentCover":null,"manualCoverAttachment":false,"idLabels":[],"name":"(3)
        Done Card","pos":65535,"shortLink":"nZR3YBje","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"due":null,"idChecklists":[],"idMembers":[],"labels":[],"shortUrl":"https://trello.com/c/nZR3YBje","subscribed":false,"url":"https://trello.com/c/nZR3YBje/1-3-done-card"}]'
  recorded_at: Tue, 13 Jan 2015 16:23:57 GMT
recorded_with: VCR 2.9.2
