---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/hntyZ1yU?key=ca558b78821d8fffa570287dceb50432&token=2b36c46cc6a9d86f75533a66e4f335e3614b22219d1e5f9628ff9f169bdce593
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.277.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1421166186824'
      Content-Type:
      - application/json
      X-Iinfo:
      - 7-19233717-19227673 PNNY RT(1421166186658 16) q(0 0 0 -1) r(2 2) U10000
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"54b53155b0a7a7c551ffe239","name":"ScrumFooSandbox","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/hntyZ1yU/scrumfoosandbox","shortUrl":"https://trello.com/b/hntyZ1yU","prefs":{"permissionLevel":"public","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundColor":"#0079BF","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"unknown","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Tue, 13 Jan 2015 16:23:06 GMT
recorded_with: VCR 2.9.2
